<configuration>
   <system.webServer>
 
     <handlers>
       <add name="iisnode" path="main.js" verb="*" modules="iisnode" />
     </handlers>
 
     <rewrite>
       <rules>
         <rule name="app">
           <match url="/*" />
           <action type="Rewrite" url="main.js" />
         </rule>
       </rules>
     </rewrite>
 
     <security>
       <requestFiltering>
         <hiddenSegments>
           <add segment="node_modules" />
         </hiddenSegments>
       </requestFiltering>
     </security>
     
     <iisnode watchedFiles="*.js;node_modules\*;routes\*.js;views\*.jade" 
      nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;" 
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />
     
   </system.webServer>
 </configuration>