/* ===  对齐  === */
.fr {float:right !important;}
.fl {float:left !important;}
.fc {display:block !important;margin-left:auto !important;margin-right:auto !important;}
.fn {float:none !important;clear:both;}
.cl {clear:left !important;}
.cr {clear:right !important;}
.cc {clear:both !important;}
.cn {clear:none !important;}

/* ===  文本对齐  === */
.center {text-align:center !important;}
.left {text-align:left !important;}
.right {text-align:right !important;}

/* ===  填充  === */
.pa {padding:0.5rem 1rem !important;}
.pb {padding-bottom:0.5rem !important;}
.pl {padding-left:1rem !important;}
.plr {padding-left:1rem;padding-right:1rem !important;}
.pr {padding-right:1rem !important;}
.pt {padding-top:0.5rem !important;}
.ptb {padding-top:0.5rem;padding-bottom:0.5rem !important;}
.pn {padding:0 !important;}
.pn-t {padding-top:0 !important;}
.pn-b {padding-bottom:0 !important;}
.pn-l {padding-left:0 !important;}
.pn-r {padding-right:0 !important;}
.pn-tb {padding-top:0 !important;padding-bottom:0 !important;}
.pn-lr {padding-left:0 !important;padding-right:0 !important;}

/* ===  间距  === */
.ma {margin:1rem !important;}
.mb {margin-bottom:1rem !important;}
.mc {margin-left:auto !important;margin-right:auto !important;display:block;}
.ml {margin-left:1rem !important;}
.mlr {margin-left:1rem;margin-right:1rem !important;}
.mr {margin-right:1rem !important;}
.mt {margin-top:1rem !important;}
.mtb {margin-top:1rem;margin-bottom:1rem !important;}
.mn {margin:0 !important;}
.mn-t {margin-top:0 !important;}
.mn-r {margin-right:0 !important;}
.mn-b {margin-bottom:0 !important;}
.mn-l {margin-left:0 !important;}
.mx {position:absolute;left:50%;transform:translateX(-50%);}
.my {position:absolute;transform:translateY(-50%);}
.mxy {position:absolute;transform:translate(-50%,-50%);}

/* ===  边框  === */
.ba {border:1px solid #e5e5e5 !important;}
.bb {border-bottom:1px solid #e5e5e5 !important;}
.bl {border-left:1px solid #e5e5e5 !important;}
.blr {border-left:1px solid #e5e5e5 !important;border-right:1px solid #e5e5e5 !important;}
.bn {border:none !important;}
.br {border-right:1px solid #e5e5e5 !important;}
.bt {border-top:1px solid #e5e5e5 !important;}
.btb {border-top:1px solid #e5e5e5 !important;border-bottom:1px solid #e5e5e5 !important;}

/* ===  圆角  === */
.b-a {border-radius:0.25rem !important;overflow:hidden;}
.b-b {border-bottom-right-radius:0.25rem !important;border-bottom-left-radius:0.25rem !important;overflow:hidden;}
.b-c {border-radius:50% !important;overflow:hidden;}
.b-l {border-bottom-left-radius:0.25rem !important;border-top-left-radius:0.25rem !important;overflow:hidden;}
.b-n {border-radius:0 !important;overflow:hidden;}
.b-r {border-bottom-right-radius:0.25rem !important;border-top-right-radius:0.25rem !important;overflow:hidden;}
.b-t {border-top-left-radius:0.25rem !important;border-top-right-radius:0.25rem !important;overflow:hidden;}
.b-lb {border-bottom-left-radius:0.25rem !important;overflow:hidden;}
.b-lt {border-top-left-radius:0.25rem !important;overflow:hidden;}
.b-rb {border-bottom-right-radius:0.25rem !important;overflow:hidden;}
.b-rt {border-top-right-radius:0.25rem !important;overflow:hidden;}

/* ===  栅格  === */
.mm_grid,[class*=mm_grid_] {max-width:76rem; width: 100%; margin:0 auto;position:relative;flex-wrap: wrap;
display:flex; align-content: flex-start; align-items: stretch; justify-content: space-between; justify-items: stretch; }
.mm_col,[class*=mm_col_] {display: block;float:left; overflow: hidden;}
main .mm_col>*,main [class*=mm_col_]>* {margin: 0.5rem;}
main .mm_col>*~*,main [class*=mm_col_]>*~* { margin-top: 1rem;}

.mm_col_10 {width:10%;flex-basis:10%}
.mm_col_20 {width:20%;flex-basis:20%}
.mm_col_25 {width:25%;flex-basis:25%}
.mm_col_33 {width:33.333333%;flex-basis:33.333333%}
.mm_col_40 {width:40%;flex-basis:40%}
.mm_col_50 {width:50%;flex-basis:50%}
.mm_col_60 {width:60%;flex-basis:60%}
.mm_col_66 {width:66.666666%;flex-basis:66.666666%}
.mm_col_75 {width:75%;flex-basis:75%}
.mm_col_80 {width:80%;flex-basis:80%}
.mm_col_90 {width:90%;flex-basis:90%}
.mm_col_100 {width:100%;flex-basis:100%}

/* 组合框 */
.mm_group,[class*=mm_group_] {display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:stretch;}
.mm_group>*,[class*=mm_group_]>* {flex:1;float:left;border-radius:0;white-space:nowrap;border-top: none;border-bottom: none;}
.mm_group>input~.mm_btn,.mm_group>input~[class*=mm_btn_] {flex:inherit;}
.mm_group .mm_btn,.mm_group [class*=mm_btn_] {border-right:1px solid rgba(0,0,0,.1);}
.mm_group .mm_btn:last-child,.mm_group [class*=mm_btn_]:last-child {border-right:none;}
.mm_group span,.mm_group .title {flex:inherit;height:2rem;line-height:2rem;padding-left:1rem;padding-right:1rem;background-color:#f9f9f9;font-size:0.75rem;text-align:center;border:none;}
.mm_group>*:first-child,[class*=mm_group_]>*:first-child { border-left: none; }
.mm_group>*:last-child,[class*=mm_group_]>*:last-child { border-right: none; }
.mm_group button {border-color: #F5F5F5;}
.mm_group button:focus {box-shadow:none;border-color: #F5F5F5;background: #F5F5F5;}

/* ===  排版  === */
.div-lr figure { float: left; }
.div-lr h5 { float: left; }
.div-lr p { float: left; }
.div-ltb figure { float: left; }
.fixed { position: fixed; }
.fixed~main { padding: 3rem 0; }

/* 卡片 */
.card {background:#fff;border-radius:0.5rem;box-shadow:0 .25rem .5rem 0 rgba(7,17,27,0.1);overflow:hidden;}
.card>header {min-height:1.5rem;border-bottom:1px solid #F5F5F5;}
.card>footer {min-height:2rem;border-top:1px solid #F5F5F5;}
.card>header {padding:.5rem 1rem;}
article.card>header { padding-top: 1rem; }

/* 箭头 */
.arrow {position: relative; padding-right: 2rem !important; }
.arrow::after {position: absolute; right: 1rem; top: 50%; transform: translateY(-50%) rotate(-45deg); content: "";padding: 3px;display: block;border: solid #999;border-width: 0 1px 1px 0;transition: all 0.2s;}
.active::after { transform: translateY(-50%) rotate(45deg); }

/* 代码 */
.mm_code { background: #f8f9fa; border-radius: 0.5rem; padding: 1rem; }
.mm_code pre { overflow: auto; }

/* 列表 */
ul.mm_list li{ list-style: none; float: left; overflow: hidden; }
ol.mm_list { list-style-type: none; counter-reset: step; counter-increment: step 0;  }
ol.mm_list li::before{ content: counter(step); counter-increment: step; position: absolute; left: -1.75rem;top: 50%; display: block; width: 1.125rem;line-height:1.125rem;text-align: center; background-color: #afbfd4; border-radius: 0.125rem; color: #fff; transform: translateY(-50%);letter-spacing:0;font-size: 0.75rem; height: 1.125rem; }
ol.mm_list li:nth-child(1)::before{background-color: #f12f04;}
ol.mm_list li:nth-child(2)::before{background-color: #ff5000;}
ol.mm_list li:nth-child(3)::before{background-color: #ff9000;}