@charset "utf-8";

/* 重置样式 */
body  { color: #333; }
input { color: #333; }

/* 元素样式 */
.desc, .tip { color:#666; }
.mm_col>.mm_block,[class*=mm_col_]>.mm_block { background: #fff; }

/* ====== 公共样式 ====== */
/* 背景 */
.bg_white {background:#fff !important;color:#333;}
.bg_black {background:#333 !important;color:#fff;border-color:#333;}
.bg_light { background:#ccc !important;color:#fff;border-color:#ccc;}
.bg_dark {background:#666 !important;color:#fff;border-color:#666;}
.bg_grey,.bg_default {background:#999 !important;color:#fff;border-color:#999;}
.bg_red,.bg_warning {background: #FF0036 !important;color:#fff;border-color:#FF0036;}
.bg_yellow,.bg_danger {background:#fca216 !important;color:#fff;border-color:#fca216;}
.bg_green,.bg_success {background:#09BB07 !important;color:#fff;border-color:#09BB07;}
.bg_cyan,.bg_info {background:#00b2d2 !important;color:#fff;border-color:#00b2d2;}
.bg_blue,.bg_primary {background:#38f !important;color:#fff;border-color:#38f;}
.bg_purple {background: #7f39e8 !important; color:#fff;border-color:#7f39e8;}
.bg_no { background: none !important; }

/* 按钮 */
/* .mm_btn:focus { -webkit-filter: contrast(2) brightness(0.9); filter: contrast(2) brightness(0.9); } */
/* .mm_btn:hover, [class*=mm_btn_]:hover { -webkit-filter: brightness(1.25); filter: brightness(1.25); }
.mm_btn:disabled, [class*=mm_btn_]:disabled { -webkit-filter: grayscale(0.5); filter: grayscale(0.5); } */

.button-hover { background-color: rgba(0,0,0,0.1); }

/* 字体颜色 */
.font_black {color:#333 !important;}
.font_dark, .font_default {color:#666 !important;}
.font_grey {color:#999 !important;}
.font_light {color:#ccc !important;}
.font_red, .font_warning {color:#f12f04 !important;}
.font_green, .font_success {color:#44b549 !important;}
.font_blue,.font_primary {color:#38f !important;}
.font_yellow,.font_danger {color:#ff9000 !important;}
.font_cyan,.font_info {color:#26d2ff !important;}

[class*=font_]:active { -webkit-filter: contrast(2) brightness(0.9); filter: contrast(2) brightness(0.9); }

/* 默认配置 */
.mm_mask { background:rgba(0,0,0,0.3); }
.mm_desc { color: #999; }

.mm_btn_default-x { color:#999; }
.mm_btn_warning-x { color:#f12f04; }
.mm_btn_success-x { color:#44b549; }
.mm_btn_primary-x { color:#38f; }
.mm_btn_danger-x { color:#ff9000; }
.mm_btn_info-x { color:#26d2ff; }

.mm_btn_default-x:active { color:#666; }
.mm_btn_warning-x:active { color:#C60A0A; }
.mm_btn_success-x:active { color:#2F9833; }
.mm_btn_primary-x:active { color:#317EF3; }
.mm_btn_danger-x:active { color:#ff5000; }
.mm_btn_info-x:active { color:#15baf8; }

.mm_btn_default {background-color:#666; color: #fff}
.mm_btn_warning {background-color:#f12f04; color: #fff}
.mm_btn_success {background-color:#44b549; color: #fff}
.mm_btn_primary {background-color:#38f; color: #fff}
.mm_btn_danger {background-color:#ff9000; color: #fff}
.mm_btn_info {background-color:#26d2ff; color: #fff}

.mm_btn_default:active { background-color:#333; color: #fff}
.mm_btn_warning:active {background-color:#C60A0A; color: #fff}
.mm_btn_success:active {background-color:#2F9833; color: #fff}
.mm_btn_primary:active {background-color:#317EF3; color: #fff}
.mm_btn_danger:active {background-color:#ff5000; color: #fff}
.mm_btn_info:active {background-color:#15baf8; color: #fff}

.price { color: #ff9000 !important; font-weight: 600; }
.num { color: #38f; font-weight: 600; }


.linear_red,.linear_warning{ background-image: linear-gradient(135deg, #FF5A6A 0%, #f12f04 100%); color: #fff; }
.linear_yellow,.linear_danger { background-image: linear-gradient(135deg, rgb(252, 207, 49) 10%, rgb(245, 85, 85) 100%); color: #fff; }
.linear_green,.linear_success { background-image: linear-gradient(135deg, rgb(255, 247, 32) 10%, rgb(60, 213, 0) 100%); color: #fff; }
.linear_blue,.linear_info { background-image: linear-gradient(135deg, rgb(94, 252, 232) 10%, rgb(115, 110, 254) 100%);  color: #fff; }
.linear_purple { background-image: linear-gradient(135deg, #EE9AE5 10%, #5961F9 100%);  color: #fff; }

/* 表格样式 */
.mm_table-bordered {border:1px solid #dee2e6}
.mm_table-bordered td,.mm_table-bordered th {border:1px solid #dee2e6}
.mm_table-bordered thead td,.mm_table-bordered thead th {border-bottom-width:2px}
.mm_table-striped tbody tr:nth-of-type(odd) {background-color:rgba(0,0,0,.05)}
.mm_table-hover tbody tr:hover {background-color:rgba(0,0,0,.075)}
.mm_table-primary,.mm_table-primary>td,.mm_table-primary>th {background-color:#b8daff}
.mm_table-hover .mm_table-primary:hover {background-color:#9fcdff}
.mm_table-hover .mm_table-primary:hover>td,.mm_table-hover .mm_table-primary:hover>th {background-color:#9fcdff}
.mm_table-secondary,.mm_table-secondary>td,.mm_table-secondary>th {background-color:#d6d8db}
.mm_table-hover .mm_table-secondary:hover {background-color:#c8cbcf}
.mm_table-hover .mm_table-secondary:hover>td,.mm_table-hover .mm_table-secondary:hover>th {background-color:#c8cbcf}
.mm_table-success,.mm_table-success>td,.mm_table-success>th {background-color:#c3e6cb}
.mm_table-hover .mm_table-success:hover {background-color:#b1dfbb}
.mm_table-hover .mm_table-success:hover>td,.mm_table-hover .mm_table-success:hover>th {background-color:#b1dfbb}
.mm_table-info,.mm_table-info>td,.mm_table-info>th {background-color:#bee5eb}
.mm_table-hover .mm_table-info:hover {background-color:#abdde5}
.mm_table-hover .mm_table-info:hover>td,.mm_table-hover .mm_table-info:hover>th {background-color:#abdde5}
.mm_table-warning,.mm_table-warning>td,.mm_table-warning>th {background-color:#ffeeba}
.mm_table-hover .mm_table-warning:hover {background-color:#ffe8a1}
.mm_table-hover .mm_table-warning:hover>td,.mm_table-hover .mm_table-warning:hover>th {background-color:#ffe8a1}
.mm_table-danger,.mm_table-danger>td,.mm_table-danger>th {background-color:#f5c6cb}
.mm_table-hover .mm_table-danger:hover {background-color:#f1b0b7}
.mm_table-hover .mm_table-danger:hover>td,.mm_table-hover .mm_table-danger:hover>th {background-color:#f1b0b7}
.mm_table-light,.mm_table-light>td,.mm_table-light>th {background-color:#fdfdfe}
.mm_table-hover .mm_table-light:hover {background-color:#ececf6}
.mm_table-hover .mm_table-light:hover>td,.mm_table-hover .mm_table-light:hover>th {background-color:#ececf6}
.mm_table-dark,.mm_table-dark>td,.mm_table-dark>th {background-color:#c6c8ca}
.mm_table-hover .mm_table-dark:hover {background-color:#b9bbbe}
.mm_table-hover .mm_table-dark:hover>td,.mm_table-hover .mm_table-dark:hover>th {background-color:#b9bbbe}
.mm_table-active,.mm_table-active>td,.mm_table-active>th {background-color:rgba(0,0,0,.075)}
.mm_table-hover .mm_table-active:hover {background-color:rgba(0,0,0,.075)}
.mm_table-hover .mm_table-active:hover>td,.mm_table-hover .mm_table-active:hover>th {background-color:rgba(0,0,0,.075)}
.mm_table .thead-dark th {color:#fff;background-color:#212529;border-color:#32383e}
.mm_table .thead-light th {color:#495057;background-color:#e9ecef;border-color:#dee2e6}
.mm_table-dark {color:#fff;background-color:#212529}
.mm_table-dark td,.mm_table-dark th,.mm_table-dark thead th {border-color:#32383e}
.mm_table-dark.mm_table-bordered {border:0}
.mm_table-dark.mm_table-striped tbody tr:nth-of-type(odd) {background-color:rgba(255,255,255,.05)}
.mm_table-dark.mm_table-hover tbody tr:hover {background-color:rgba(255,255,255,.075)}