input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance:none;}
.fixed {position:fixed;}
.fixed~main {padding:3rem 0;}
.mm_action {padding-top:1rem;margin:1rem 0 .5rem 0;border-top:1px solid rgba(51,136,255,.25);}
.mm_action>h5 {float:left;}
.mm_action>div {float:right;}
.mm_action::before,.mm_action::after {content:"";display:block;clear:both;}
.mm_side {float:left;position:relative;height:inherit;z-index:2;width:14rem;min-height:calc(100vh - 3.75rem - 1px);overflow-x:hidden;overflow-y:auto;}
.mm_side .line {position:absolute;top:0;right:0;width:3px;background:none;border-right:1px solid #e1e4e8;height:100%;}
.mm_side::-webkit-scrollbar {display:none;}
.mm_side .line:hover {cursor:w-resize;}
.mm_main {position:relative;z-index:1;}

/* 加载 */
.mm_loading {text-align:center;max-width:8rem;}
.mm_loading .load {position:relative;margin:auto;}
.mm_loading img,.mm_loading i {display:inline-block;vertical-align:middle;animation:rotate 1s steps(12,end) infinite;-webkit-animation:rotate 1s steps(12,end) infinite;}
.mm_loading .progress {width:100%;background:#38f;border-radius:0.25rem;}
.mm_loading .progress::before {content:"";display:block;position:absolute;top:0;left:0;height:100%;width:1rem;animation:translate 1s infinite;-webkit-animation:translate 1s infinite;background:-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.4),rgba(255,255,255,0.8),rgba(255,255,255,0.6));/* Safari 5.1 - 6 */background:-o-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.4),rgba(255,255,255,0.8),rgba(255,255,255,0.6));/* Opera 11.1 - 12*/background:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.4),rgba(255,255,255,0.8),rgba(255,255,255,0.6));/* Firefox 3.6 - 15*/background:linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,0.4),rgba(255,255,255,0.8),rgba(255,255,255,0.6));/* 标准的语法 */border-radius:0 .25rem .25rem 0;}

@keyframes rotate {0% {transform:rotate3d(0,0,1,0deg);}
100% {transform:rotate3d(0,0,1,360deg);}
}
@-moz-keyframes rotate {0% {transform:rotate3d(0,0,1,0deg);}
100% {transform:rotate3d(0,0,1,360deg);}
}
@-webkit-keyframes rotate {0% {transform:rotate3d(0,0,1,0deg);}
100% {transform:rotate3d(0,0,1,360deg);}
}
@-ms-keyframes rotate {0% {transform:rotate3d(0,0,1,0deg);}
100% {transform:rotate3d(0,0,1,360deg);}
}
@-o-keyframes rotate {0% {transform:rotate3d(0,0,1,0deg);}
100% {transform:rotate3d(0,0,1,360deg);}
}
@keyframes translate {0% {left:0;}
100% {left:100%;}
}
@-moz-keyframes translate {0% {left:0;}
100% {left:100%;}
}
@-webkit-keyframes translate {0% {left:0;}
100% {left:100%;}
}
@-ms-keyframes translate {0% {left:0;}
100% {left:100%;}
}
@-o-keyframes translate {0% {left:0;}
100% {left:100%;}
}


/* 盒子 */
.mm_box {display:none;position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.3);z-index:9;}
.mm_box::before,.mm_box::after {display:block;content:"";clear:both;float:none;}
.current .mm_box {display:inline-block;}
.active,.hover,.focus,.click {position:relative;}

/* 筛选面板 */
.mm_filter {display:flex;}
.mm_filter>h5 {float:left;flex:1;position:relative;border-right:2px solid #DBDBDB;background:#f3f9ff;}
.mm_filter>h5>span {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);white-space:nowrap;}
.mm_filter>* {flex:10;}


/* 视图块主体 */
.mm_view .mm_body {padding:1.5rem;}
.mm_view>header {padding:.5rem 1.5rem;border-bottom:1px solid rgba(125,125,125,0.25);}
.mm_view>footer {border-top:1px solid rgba(125,125,125,0.25);}

/* ===  模态窗  === */
.mm_modal {position:fixed;z-index:30;width:100%;height:100%;top:0;left:0;right:0;bottom:0;transform:translate(-100%,-100%);}
.mm_modal .mask {transition:all .2s ease-in-out;position:absolute;z-index:31;top:0;left:0;right:0;bottom:0;width:100%;height:100%;}
.mm_modal.show {transform:translate(0,0);}
.mm_modal .mm_body {background:#fff;}

/* 所有CSS属性都拥有过渡属性，动画持续时间3s 延迟2s触发 linear的触发函数 */
.trans {-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-ms-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear;}
.show {display:block !important;}
.show [class*=from_] {position:absolute;z-index:40;width:100%;}
.show .from_default {max-width:30rem;min-height:7.5rem;top:50%;left:50%;transform:translate(-50%,-50%) !important;}
.from_left {top:0;bottom:0;left:0;height:100%;max-width:18.75rem;transform:translate(-100%,0);}
.from_right {top:0;bottom:0;right:0;height:100%;max-width:18.75rem;transform:translate(100%,0);}
.from_top {top:0;left:0;right:0;transform:translate(0,-100%);}
.from_bottom {bottom:0;left:0;right:0;transform:translate(0,100%);}
.from_center {top:50%;left:50%;width:25%;max-width:30rem;transform:translate(-50%,-50%);}
.show .from_left,.show .from_right,.show .from_top,.show .from_bottom,.show .from_center {-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-ms-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear;}
.show .from_left,.show .from_right,.show .from_top,.show .from_bottom {transform:translate(0,0);}
.show .from_center {width:100%;}

/* ====== 表单 ====== */
/* 单选框 */
.mm_radio input {display:none;}
.mm_radio .figure {position:relative;top:3px;display:inline-block;overflow:hidden;width:1.125rem;height:1.125rem;border:1px solid #38f;border-radius:50%;margin-right:.5rem;}
.mm_radio .active .figure::before {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);content:" ";display:inline-block;width:0.325rem;height:0.325rem;background:#38f;border-radius:50%;}


/* 发送验证码输入框 */
.mm_code .mm_group {border-bottom:none}

/* 计数器 */
.mm_number {display:inline-block;}
.mm_number .value {display:flex;}
.mm_number input[type="number"] {border:none;text-align:center;-moz-appearance:textfield;height:2rem;line-height:2rem;}
.btn_del,.btn_add {display:block;position:relative;line-height:1;}
.btn_del::before,.btn_add::before {content:"";display:block;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:0.5rem;height:2px;background:#fff;line-height:1;}
.btn_add::after {content:"";display:block;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:2px;height:0.5rem;background:#fff;line-height:1;}


/* 开关 */
.mm_switch .onoff {position:relative;display:block;height:2rem;line-height:2.2rem !important;width:3.75rem !important;background:#fff;border:1px solid #e5e5e5;border-radius:100px;cursor:pointer;transition:all 0.3s ease;}
.mm_switch .onoff::after {position:absolute;left:-1px;top:-1px;display:block;width:2rem;height:2rem;border-radius:50%;background:#fff;border:1px solid #e5e5e5;box-shadow:0px 3px 3px rgba(0,0,0,0.05);content:'';transition:all 0.3s ease;}
.mm_switch .active .onoff {background:#04BE02;}
.mm_switch .active .onoff::after {left:1.64rem;}
.mm_switch label:active .onoff::after {transform:scale(1.15,0.85);}
.mm_switch .on,.mm_switch .off {display:block;position:absolute;top:49%;transform:translateY(-50%);}
.mm_switch .on {left:.25rem;}
.mm_switch .on::before {content:"ON";font-size:0.625rem;color:#fff;}
.mm_switch .off {right:.25rem;}
.mm_switch .off::before {content:"OFF";font-size:0.625rem;color:#999;}


/* 选择框 */
.mm_select {display:inline-block;}
.mm_select a {color:inherit;display:inline-block;}
.mm_select .value {font-size:.875rem;}
.mm_select select {padding:0 1.5rem 0 0.5rem;border-radius:.25rem;border:1px solid rgba(125,125,125,0.25);height:2rem;background-position-x:calc(100% - .25rem);}
.mm_select .selected {padding:0 .5rem;border-radius:.25rem;height:2rem;line-height:2rem;border:1px solid rgba(125,125,125,0.25);/* background:url("/img/down.png") no-repeat scroll right center transparent;background-position-x:calc(100% - .25rem);*/}
.mm_select .mm_box {top:2.05rem;bottom:initial;overflow:hidden;background:#fff;border:1px solid rgba(125,125,125,0.25);border-radius:.25rem;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.2);box-shadow:0 1px 3px rgba(0,0,0,.2);left:0;width:100%;min-width:5rem;}
.mm_select li {padding:0 .5rem;line-height:2rem;width:100%;}
.mm_select li:hover {background:#f9f9f9;color:#000000;}
.current .selected, .hover:hover .selected,.focus:focus .selected {border-color:#38f;}
.click {display:inline-block;}
.click .mm_box {right:initial;min-width:5.25rem;}

/* 反转器 */
.mm_reverse .figure {height:2rem;width:1rem;position:relative;padding-top:.25rem;}
.mm_input .title,.mm_checkbox .title,.mm_radio .title,.mm_select .title,.mm_number .title,.mm_slider .title,.mm_switch .title,.mm_reverse .title {float:left;padding-left:1rem;padding-right:.5rem;min-width:6.5rem;line-height:2rem;}
.mm_checkbox .figure {position:relative;top:3px;display:inline-block;overflow:hidden;width:1.125rem;height:1.125rem;border:1px solid #38f;border-radius:50%;}
table .mm_reverse .figure {float:right;}
table .mm_reverse .title {min-width:initial;padding-left:0;width:calc(100% - 1rem);}
.mm_reverse .value {overflow:hidden;}
.mm_reverse .up,.mm_reverse .down {margin:auto;margin:.2rem auto;display:block;}
.mm_reverse .up::before {content:"";display:block;margin:auto;width:0;height:0;border-left:.25rem solid transparent;border-right:.25rem solid transparent;border-bottom:.5rem solid #E5E5E5;}
.mm_reverse .down::after {content:"";display:block;margin:auto;width:0;height:0;border-left:.25rem solid transparent;border-right:.25rem solid transparent;border-top:.5rem solid #E5E5E5;}
.mm_reverse .up.active::before {border-bottom-color:#38f;}
.mm_reverse .down.active::after {border-top-color:#38f;}
.reverse_arrow .up {float:left;height:1rem;position:relative;}
.reverse_arrow .up::after {background:#E5E5E5;height:.75rem;position:absolute;top:.25rem;right:0;content:"";display:block;width:2px;}
.reverse_arrow .up::before {border:.15rem solid;border-color:transparent #E5E5E5 #E5E5E5 transparent;}
.reverse_arrow .up.active::after {background:#38f;}
.reverse_arrow .up.active::before {border-color:transparent #38f #38f transparent;}
.reverse_arrow .down {height:1rem;position:relative;margin-left:.5rem;}
.reverse_arrow .down::before {background:#E5E5E5;height:.75rem;position:absolute;top:0;left:0;content:"";display:block;width:2px;}
.reverse_arrow .down::after {position:absolute;bottom:0;border:.15rem solid;border-color:#E5E5E5 transparent transparent #E5E5E5;}
.reverse_arrow .down.active::before {background:#38f;}
.reverse_arrow .down.active::after {border-color:#38f transparent transparent #38f;}
.reverse_arrow .active {display:block;}


/* 复选框 */
.mm_checkbox .active .figure {background:#38f;}
.mm_checkbox .active .figure::before {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%) rotate(-45deg);content:" ";display:inline-block;width:0.5rem;height:0.25rem;border-left:1px solid #fff;border-bottom:1px solid #fff;}

/* 输入框 */
.mm_input,.mm_checkbox,.mm_radio,.mm_select,.mm_number,.mm_slider,.mm_switch {position:relative;}
.mm_input .value::before,.mm_checkbox .value:before,.mm_radio .value:before,.mm_number .value:before,.mm_slider .value:before,.mm_switch .value:before {content:"";display:block;}
.mm_input .value:after,.mm_checkbox .value:after,.mm_radio .value:after,.mm_number .value:after,.mm_slider .value:after,.mm_switch .value:after {content:"";display:block;}
.mm_input .unit {padding-left:.5rem;padding-right:1rem;}

/* 导航 */
.mm_nav a {color:inherit;text-decoration:none;}

/* 分页器 */
.mm_pager,[class*=mm_pager_] {text-align:center;}
.mm_pager a,[class*=mm_pager_] a {padding:0 .5rem;position:relative;z-index:1;min-width:2.25rem;white-space:nowrap;display:inline-block;height:2rem;line-height:calc(2rem - 2px);color:#333;border:1px solid rgba(125,125,125,0.25);margin-left:-1px;text-align:center;}
.mm_pager_sm a {height:1.5rem;line-height:1.5rem;min-width:1.5rem;font-size:0.85rem;}
.mm_data_count {line-height:2rem;padding:.5rem 0;}
.goto input {font-size:0.75rem;position:relative;top:-0.05rem;width:3rem;text-align:center;}
.goto {padding:0.25rem 0;}
.mm_pager-x a {margin-left:.5rem;color:#333;border-radius:.25rem;}
.mm_pager-x a:last-of-type {margin-right:0;}
.mm_pager a:first-child {border-top-left-radius:.25rem;border-bottom-left-radius:.25rem;}
.mm_pager a:last-child {border-top-right-radius:.25rem;border-bottom-right-radius:.25rem;}
.mm_pager-x .active {background:#38f;color:#fff;}
.mm_pager a:hover,.mm_pager a:active {z-index:2;}
.mm_pager .active,[class*=mm_pager_] .active {background:#38f;color:#fff;border-color:#38f;}
.mm_pager.group>a,[class*=mm_pager_].group>a {margin-left:-1px;}


/* LOGO */
#logo {float:left;margin-right:1rem;padding:0.5rem;}
#logo figure {width:1.5rem;margin-right:.5rem;}

/* 定位 */
#side_left {float:left;margin-right:.5rem;}
#side_right {float:right;margin-left:.5rem;}

/* 导航 */
#nav_path a::before {content:"\\";color:#999;margin-left:.125rem;margin-right:.5rem;}
#nav_path a:first-child::before {content:none;}
#nav_bottom {text-align:center;}
#nav_bottom a {padding:0.5rem;}
#nav_main a {line-height:1.5rem;padding:0.5rem;}
#nav_top a {line-height:1.5rem;padding:0.5rem;}
#nav_pager {text-align:center;padding:1rem 0;}
#nav_pager a {border:1px solid rgba(125,125,125,0.25);width:2rem;height:2rem;margin:.25rem;line-height:2rem;border-radius:.25rem;background:#fff;}

/* 栏目 */
#bar_user {text-align:right;}
#bar_user a {line-height:1.5rem;padding:0.5rem;}

/* 列表 */
#ad_right {border-radius:0.25rem;}
#list_about ul {list-style-type:none;padding:0 1rem;margin-bottom:1rem;}
#list_about li {width:100%;padding:.5rem 0;border-top:1px dashed rgba(125,125,125,0.25);}
#list_about .time {float:right;}
#list_hot ol {display:block;margin-bottom:1rem;}
#list_hot li {width:100%;padding:.5rem 0;border-top:1px dashed rgba(125,125,125,0.25);}
#list_hot .hot {float:right;}
#list_hot li:first-child {border:none;}
#list_about li:first-child {border:none;}

/* ===  图片  === */
#list_img_1 .mm_img {margin:.5rem;}
#list_img_1 figure {border-radius:0.25rem;}
#list_img_1.icon-x figure {border:1px solid rgba(125,125,125,0.25);}
#list_img_1 h5 {padding-top:.5rem;}
#list_img_1 p {font-size:.875rem;color:#666;margin-bottom:1rem;}
#list_img_2 .mm_img {border-radius:0.25rem;margin:.5rem;background:#fff;overflow:hidden;box-shadow:0 0.25rem 0.5rem 0 rgba(7,17,27,0.1);}
#list_img_2 h5 {margin:.5rem auto;padding:0 1rem;}
#list_img_2 p {padding:0 1rem;font-size:.875rem;color:#666;padding-bottom:1rem;margin-top:.5rem;}

/* 侧边导航 */
#nav_side .btn {line-height:2.5rem;padding:0 1rem;color:#999;position:relative;overflow:hidden;}
#nav_side .mm_item>.btn {border-bottom:1px solid rgba(0,0,0,0.3);}
#nav_side a {display:block;color:inherit;line-height:2.5rem;padding:0 2rem;position:relative;}
#nav_side .btn:after {position:absolute;right:1rem;top:50%;transform:translateY(-50%) rotate(-45deg);content:"";padding:3px;display:block;border:solid #999;border-width:0 1px 1px 0;transition:all 0.2s;}
#nav_side .btn:hover {color:#fff;background:rgba(3,4,29,0.1);}
#nav_side .active .btn {color:#fff;background:rgb(49,131,246);background:-moz-linear-gradient(-45deg,rgba(255,255,255,0.5) 0%,rgba(102,188,244,0.42) 39%,rgba(49,166,247,0.42) 40%,rgba(49,131,246,0.3) 100%);background:-webkit-linear-gradient(-45deg,rgba(255,255,255,0.5) 0%,rgba(102,188,244,0.42) 39%,rgba(49,166,247,0.42) 40%,rgba(49,131,246,0.3) 100%);/* Chrome10-25,Safari5.1-6 */background:linear-gradient(135deg,rgba(255,255,255,0.5) 0%,rgba(102,188,244,0.42) 39%,rgba(49,166,247,0.42) 40%,rgba(49,131,246,0.3) 100%);}
#nav_side .active .btn:after {transform:translateY(-50%) rotate(45deg);border-color:#fff;}
#nav_side a:hover {color:#fff;}
#nav_side .router-link-active {color:#3388ff;}
#nav_side .btn:hover:before {content:"";display:block;width:2px;position:absolute;top:0;bottom:0;left:0;height:100%;background:#38f;}
#nav_side .box {overflow:hidden;max-height:0;-webkit-transition:max-height 0.2s;transition:max-height 0.2s;background:rgba(0,0,0,0.4);color:#999;border-bottom:1px solid #fff;border-color:rgba(255,255,255,0.1);}
#nav_side .active .box {max-height:80vh;padding:0.5rem 0;}

/* 选项卡 */
.mm_tab_head {overflow:hidden;display:-webkit-flex;display:flex;flex-flow:row wrap;align-items:flex-start;justify-content:flex-start;}
.mm_tab_head>div {overflow:hidden;text-align:center;height:2rem;line-height:calc(2rem - 2px);padding:0 1rem;border-bottom:1px solid rgba(125,125,125,0.25);border-right:1px solid rgba(125,125,125,0.25);}
.mm_tab_head>div:last-child {flex:auto;border-bottom:1px solid rgba(125,125,125,0.25);border-right:0;}
.mm_tab_head>.active {border-bottom:1px solid #fff;color:#38f;}

/* 幻灯片 */
.mm_slide {list-style-type:none;}

/* 表格中的按钮 */
table .mm_btn {border-radius:.25rem;display:inline-block;height:1.5rem;line-height:1.5rem;padding-left:0.75rem;padding-right:0.75rem;margin-right:.5rem;font-size:.75rem;}


/* 图片上传 */
.mm_upload_img .mm_icon {border-radius:0.25rem;border:1px dashed rgba(125,125,125,0.5);}
.mm_upload_img .mm_icon img {display:none;}
.upload_add .mm_icon::before,.upload_add .mm_icon::after {content:"";display:block;transform:translate(-50%,-50%);position:absolute;top:50%;left:50%;background:rgba(125,125,125,0.5);}
.upload_add .mm_icon::before {width:1rem;height:.125rem;}
.upload_add .mm_icon::after {width:.125rem;height:1rem;}

/* 盒子样式 */
.hover:hover .mm_box {display:inline-block;}
.focus:focus .mm_box {display:inline-block;}
.active:active .mm_box {display:inline-block;}

.inline .mm_input,.inline .mm_checkbox,.inline .mm_radio,.inline .mm_select,.inline .mm_number,.inline .mm_slider,.inline .mm_switch {display:inline-block;}

.pc .mm_select {padding-top:.5rem;padding-bottom:.5rem;}
.pc .mm_input {padding-top:.5rem;padding-bottom:.5rem;}
.pc .mm_input input {padding:.25rem .5rem;border-radius:.25rem;border:1px solid rgba(125,125,125,0.25);height:2rem;min-width:12rem;}
.pc .mm_input .title {line-height:2rem;}
.pc .mm_radio .value {line-height:2rem;}
.pc .mm_checkbox .value {line-height:2rem;}
.pc .mm_checkbox .figure {margin-right:.5rem;}
.pc .mm_number [class*=mm_btn] {font-size:1.25rem;border-radius:50%;padding:0;width:1.5rem;height:1.5rem;line-height:1.5rem;margin:0.25rem .5rem;}
.pc .mm_number input {border:1px solid rgba(125,125,125,0.25);border-radius:.25rem;}
.mobile .mm_number .value {border:1px solid #38f;border-radius:0.25rem;}
.mobile .mm_number [class*=mm_btn] {border-radius:0;min-width:2rem;}
.mobile .mm_input {margin-bottom:-1px;padding-top:.25rem;padding-bottom:.25rem;border-top:1px solid #DBDBDB;border-bottom:1px solid #DBDBDB;}
.mobile .mm_input .title {height:2rem;line-height:2rem;}
.mobile .mm_input input {line-height:2rem;height:2rem;padding:0 .5rem;flex:1;border-color:transparent;}
.mobile .mm_input .title~.value {overflow:hidden;display:flex;}
.mobile .mm_input .unit {line-height:2rem;height:2rem;}
.mobile .mm_checkbox .figure {margin-right:1rem;}
.mobile .mm_radio label,.mobile .mm_checkbox label {display:block;margin:-1px 0 0 0;padding:0.5rem;border-top:1px solid #DBDBDB;border-bottom:1px solid #DBDBDB;}
.mobile .mm_radio .figure {float:right;border:none;}
.mobile .mm_radio .active .figure::before {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%) rotate(-45deg);content:" ";display:inline-block;width:1rem;height:0.5rem;border-left:1px solid #38f;border-bottom:1px solid #38f;border-radius:0;background:none;}
.mobile .mm_switch {margin-bottom:-1px;padding-top:.25rem;padding-bottom:.25rem;border-top:1px solid rgba(125,125,125,0.25);border-bottom:1px solid rgba(125,125,125,0.25);overflow:hidden;}
.mobile .mm_switch .onoff {float:right;margin-right:1rem;}


#slide_top img {border-radius:0.25rem;}